<div style="margin-top:75px;margin-bottom: 25px" class="container-fluid"><br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <div ng-if="success" class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>{{message}}</p>
                </div>
                <div ng-if="error" class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>{{message}}</p>
                </div>
            </div>
            <!-- <label for="Category Name">Category Name</label> -->
            <input type="text" class="form-control" placeholder="Enter Category name" ng-model="Editcategory.name" id="Category Name">
            <!-- <label for="Category Description">Category Description</label> -->
            <textarea id="Category Description" class="form-control" placeholder="Enter Description" ng-model="Editcategory.description"></textarea>
            <div class="btn-group  btn-group-justified ">
                <a class="btn btn-sm btn-success btn-block" ng-disabled="!Editcategory.name" ng-click="addCategory()"><span class="glyphicon glyphicon-floppy-save"></span> {{action}}</a>
                <a class="btn btn-sm btn-warning btn-block" ng-disabled="!Editcategory.name && !Editcategory.description" ng-click="reset()"><span class="glyphicon glyphicon-list-alt"></span>  Reset</a>
            </div>
        </div>
    </div>

    <br><br>

    <div ng-init="getCategories()">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-1">
                    <h4 style="text-align: center">S.No</h4>
                </div>
                <div class="col-md-2">
                    <h4 style="text-align: center">Category</h4>
                </div>
                <div class="col-md-7">
                    <h4 style="text-align: center">Description</h4>
                </div>
                <div class="col-md-2">
                    <h4 style="text-align: center">Update or Delete</h4>
                </div>
            </div>
        </div>
        <div class="row" data-ng-repeat="category in categories | filter:Editcategory |limitTo:10">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-1"><input type="text" name="" value="{{$index +1}}" class="form-control" readonly></div>
                <div class="col-md-2"><input type="text" name="" value="{{category.name | camelCase}}" class="form-control" readonly></div>
                <div class="col-md-7"><textarea rows="1" cols="" class="form-control" readonly>{{category.description}}</textarea></div>
                <div class="col-md-2">
                    <div class="btn-group  btn-group-justified ">
                        <a class="btn btn-sm btn-primary btn-block form-control " ng-click="editCategory(category)"><span class="glyphicon glyphicon-cog"></span> Edit</a>
                        <a class="btn btn-sm btn-danger btn-block form-control " ng-click="deleteCategory(category._id)"><span class="glyphicon glyphicon-trash" ></span> Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- div style="overflow: auto; height: 400px;">
        <table class="table table-bordered table-hover" ng-init="getCategories()">
            <thead>
                <tr class="w3-dark-grey">
                    <th>Category</th>
                    <th>Description</th>
                    <th style="text-align:center">Manipulate</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="category in categories | filter:Editcategory">
                    <td width="15%">{{category.name | camelCase}}</td>
                    <td width="70%">{{category.description}}</td>
                    <td width="15%">
                        <div class="btn-group  btn-group-justified ">
                            <a class="btn btn-xs btn-primary btn-block" ng-click="editCategory(category)"><span class="glyphicon glyphicon-cog"></span> Edit</a>
                            <a class="btn btn-xs btn-danger btn-block" ng-click="deleteCategory(category._id)"><span class="glyphicon glyphicon-trash" ></span> Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>