<div style="margin-top:100px;" class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-0">
            <input type="text" class="form-control" placeholder="Enter Product name" ng-model="Editproduct.name" id="Product Name">
            <textarea id="Product Description" class="form-control" placeholder="Enter Description" ng-model="Editproduct.description"></textarea>
            <input type="number" class="form-control" placeholder="Enter Product name" ng-model="Editproduct.price" id="Product Price">
            <select class="form-control">
                <option class="form-control">Seller</option>
            </select>
            <select class="form-control">
                <option class="form-control">Category</option>
            </select>
            <label class="btn btn-default btn-file form-control" style="text-align: right">
                <span>Click here to add an Image : Browse</span>
            <input type="file" style="display: none;">
            </label>
            <div class="btn-group  btn-group-justified ">
                <a class="btn btn-sm btn-success btn-block" ng-disabled="!Editproduct.name" ng-click="addProduct()"><span class="glyphicon glyphicon-floppy-save"></span> {{action}}</a>
                <a class="btn btn-sm btn-warning btn-block" ng-disabled="!Editproduct.name && !Editproduct.description" ng-click="reset()"><span class="glyphicon glyphicon-list-alt"></span>  Reset</a>
            </div>
        </div>
 
</div>