<div class="container" style="margin-top:100px">
    <div class="media " ng-repeat="item in cart track by item._id">
        <div class="media-left ">
            <a href="/product/{{item._id}}"> 
                <img ng-src="images/products/{{item._id}}.jpg" class="media-object" style="width:70px;">
            </a>
        </div>
        <div class="media-body ">
            <div class="input-group">
                <input type="text" class="form-control" value="{{item.name | camelCase}}" aria-describedby="namesellerprice" readonly>
                <span class="input-group-addon" id="namesellerprice">Seller</span>
                <input type="text" class="form-control" value="{{item.seller.username | camelCase}}" aria-describedby="namesellerprice" readonly>
                <span class="input-group-addon" id="namesellerprice">Price</span>
                <input type="number" class="form-control" ng-value="{{item.price}}" aria-describedby="namesellerprice" readonly>
            </div>
            <div class="input-group">
                <span class="input-group-addon " id="RequestedQuantity">Requested Quantity</span>
                <input type="number" class="form-control" ng-model="item.req" ng-value="{{item.req}}" aria-describedby="RequestedQuantity">
                <span class="input-group-btn">
                    <button class="btn btn-success " type="submit" ng-click="UpdateCart(item)">Update</button>
                    <button type="submit" class="btn btn-danger " ng-click="DeleteItem(item)">Delete</button>
                </span>
            </div>
        </div>
        <div class="media-right">
            <div class="input-group">
                <span class="input-group-addon" id="namesellerprice">{{item.req}} x Price of 1 Item</span>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="namesellerprice">{{item.req * item.price | currency:'&#8377'}}</span>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-info btn-block" ng-hide="cartSize == 0" type="submit">Proceed To Pay : {{cost | currency:'&#8377'}}</button>
</div>