<h1>Products Page</h1>
<h3>Official</h3>

<div class="container">

    <div class="col-xs-3 w3-animate-zoom">
        <div class="img">
            <a href="${pageContext.request.contextPath}/IndividualItem/${product.id}"> <img height="192px"
						width="192px" alt="${product.id}"
						src="##">
					</a>

            <div class="desc">
                <p>
                    ${product.name}<br> <i class="fa fa-inr" aria-hidden="true"></i> ${product.price}
                    <c:choose>
                        <c:when test="${LoggedIn}">
                            <form action="${pageContext.request.contextPath}/addtoCart/${userId}/${product.id}">
                                <input type="number" value="1" name="quantity" class=" form-control  btn-block  ">
                                <input
                                    type="submit" value="Add to Cart" class="btn btn-xs btn-success btn-block">

                            </form>
                        </c:when>
                    </c:choose>
                </p>

            </div>
        </div>
    </div>
</div>