<!-- <div class="container-custom" style="margin-top:175px" ng-init="getProduct()">
    <div ng-if="success" class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>{{message}}</p>
    </div>
    <div ng-if="error" class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>{{message}}</p>
    </div>
    <div ng-if="!error">
        <div class="col-xs-6 w3-animate-left">
            <div class="img">
                <img height="292px" width="292px" alt="{{product.name}}" ng-src="images/corousel/smart.jpg">
                <div class="desc">
                    <strong>{{product.name}}</strong>
                </div>
            </div>
        </div>
        <div class="col-xs-6 w3-animate-right">
            <div class="img">
                <div class="desc">
                    <p>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{product.name}}" readonly="readonly">
                        </div>
                        <!-- <div class="form-group">
                      <span>{{product.name}}</span>
                    </div>
                        <div class="form-group">
                            <input type="text" class="form-control" value="Rs. {{product.price}}" readonly="readonly">
                        </div>
                        <form action="#AddToCart">
                            <input type="number" value="1" name="quantity" class=" form-control  btn-block  ">
                            <br>
                            <input type="submit" value="Add to Cart" class="btn btn-xs btn-success btn-block">
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container" style="margin-top:125px">
    <div class="row " ng-init="getProduct()">
        <div class="col-xs-6 w3-animate-left">
            <a href="#" class="thumbnail">
            <img alt="..." class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6" >
            <div>
               <h3 style="margin-top: 0px">{{product.name}}</h3>
            </div>
<p><h3>{{product.name}}</h3></p>
           
                <input type="text" class="form-control" value="{{product.name}}" readonly="readonly">
         
          
               <textarea rows="5" class="form-control" readonly="readonly" cols=""></textarea>
           
                <span>{{product.name}}</span>
            
                <input type="text" class="form-control" value="Rs. {{product.price}}" readonly="readonly">
          
                <input type="number" value="1" name="quantity" class=" form-control  btn-block  ">
              
                <input type="submit" value="Add to Cart" class="btn btn-xs btn-success btn-block">
      

        </div>
    </div>
</div>